.tic-tac-toe {
	padding: 1.5rem;

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__header {
		display: flex;
		justify-content: center;
	}

	&__game {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 1rem;
		grid-template-areas: "head head head head" "box-1 box-2 box-3 box-4" "box-5 box-6 box-7 box-8"
			"box-9 box-10 box-11 box-12" "box-13 box-14 box-15 box-16" "button button button button";

		&__square {
			padding: 5rem;
			background-color: #ccc;
			border-radius: 1rem;
			font-size: 4rem;
			font-weight: 400;
		}
	}

	&__message {
		grid-area: head;
		p {
			font-size: 2rem;
			padding-bottom: 2rem;
			color: #333333;
			font-weight: 700;
		}
	}

	&__reset {
		grid-area: button;
	}

	.win_content {
		flex: 1;
		text-align: center;
		width: 100%;

		&__times {
			display: inline-block;
			margin-top: 1.5rem;
			font-size: 3rem;
		}
	}
}
